@model Bnpp.DataLayer.Entities.DamageabilityReport
@{
    ViewData["Title"] = "EditDamageabilityReport";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<h1> Edit</h1>
<div id="normal">
    <form id="designForm" asp-action="EditDamageabilityReport" method="post">
        <input type="hidden" asp-for="ID" />

        <table cellpadding="3" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        Allowable CUF:
                    </td>
                    <td>
                        <input asp-for="AllowableCUF" name="allowablecuf" type="text" style="direction: ltr; text-align: left;">
                    </td>
                    <td>
                        <span asp-validation-for="AllowableCUF"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        Allowable Life Time:
                    </td>
                    <td>
                        <input asp-for="AllowableLifeTime" name="allowablelifetime" type="text" style="direction: ltr; text-align: left;">
                    </td>
                    <td>
                        <span asp-validation-for="AllowableLifeTime"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Allowable Changing Ratio:
                    </td>
                    <td>
                        <input asp-for="AllowableChangingRatio" name="allowablechangingratio" type="text" style="direction: ltr; text-align: left;">
                    </td>
                    <td>
                        <span asp-validation-for="AllowableLifeTime"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" onclick="submitdesignNormal()" value="Save" class="butn-save" style="direction: ltr; text-align: left;">
                        <input type="button" onclick="location='/SACOR-446'" value="Cancel" id="Button2" class="butn-cancel" style="direction: ltr; text-align: left;">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>


<script src="/js/jquery.min.js"></script>

<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.validate.unobtrusive.min.js"></script>



<script type="text/javascript">
    function submitdesignNormal() {
        var data = $("#designForm").serialize();
        //console.log(data);
        //alert(data);

        var result = confirm("Are You Sure ?");
        if (result) {
            $.ajax({
                type: 'POST',
                url: '/Import/EditDamageabilityReport',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
                data: data,
                success: function () {
                    window.location.href = "/SACOR-446/";
                },

                error: function () {
                    //alert('Failed to receive the Data');
                    //console.log('Failed ');
                }
            });
        }

    }

</script>

