
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div id="full-wrapper" style="margin-top:-5px;">
    <div class="dcenter">
       
        <div class="dcontent" style="margin-left:auto;margin-right:auto;float:inherit;width:366px;padding-top:120px;">

            <div class="shadow" style="width: 586px;border: solid 1px #b1b1b1;padding: 15px;border-radius: 3px;background-color: rgba(192, 192, 192, 0.5);">
                <h1 style="color:#4d5b6e;">Please select category to Report</h1>
                <table cellpadding="3" cellspacing="0" class="icon-table-admin" align="center">
                    <tbody>
                        <tr>
                            <td><a href="/MechanicalReport"> Mechanical Equipments</a></td>
                            <td><a href="/ElectricalReport">Electrical Equipments</a></td>
                            <td><a href="/I & C Equipments">I & C Equipments</a></td>
                            <td><a href="/StructuresReport">Structures</a></td>
                           
                        </tr>
                    </tbody>
                </table>
            </div>

           

        </div><div style="clear:both;"></div>
    </div>
</div>

