
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div id="Tabs">

</div>

@section Scripts
{
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>

    $( document ).ready(function() {
        $("#Tabs").load("/ManagementDocuments/Methodology/");
    });

    function showPage1() {
        $("#Tabs").load("/ManagementDocuments/Methodology/");
    }

    function showPage2() {
        $("#Tabs").load("/ManagementDocuments/OtherDocuments/");
      //$('#tab-button2').css({ 'background-color': 'rgb(208, 208, 208)', 'border-color': 'rgb(128, 128, 128)', 'font-weight': 'bold' });
       
    }

    function showPage3() {
        $("#Tabs").load("/ManagementDocuments/ManagementReviews/");
    }

</script>

}


