@model Bnpp.DataLayer.Entities.Maintenance.MaintenancePrograms
@{
    ViewData["Title"] = "CreateMaintenancePrograms";
    Layout = null;
}



<div id="normal">
    <form id="normalForm" asp-action="CreateMaintenancePrograms" method="post">
        <table cellpadding="3" cellspacing="0">
            <tbody>
                 <tr>

                    Type of Repair:
                <select class="form-control" style="direction: ltr; text-align: left;" asp-for="MaintenanceType" asp-items="@(ViewData["Types"] as SelectList)"></select>
                </tr>
                <tr>
                    <td>
                        R.R:
                    </td>
                    <td>
                        <textarea asp-for="RR" type="text" id="textRR" class="textRR" required="" style="direction: ltr; text-align: left;width: 400px;
    height: 100px;"></textarea>
                    </td>
                    <td>
                        <span asp-validation-for="RR"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        I.R:
                    </td>
                    <td>
                        <textarea asp-for="IR" type="text" id="textRR" onclick="focus(this)"  style="direction: ltr; text-align: left;width: 400px;
    height: 100px;"></textarea>
                    </td>
                    <td>
                        <span asp-validation-for="IR"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        OVH:
                    </td>
                    <td>
                        <textarea asp-for="OVH" type="text" id="textRR" style="direction: ltr; text-align: left;width: 400px;
    height: 100px;"></textarea>
                    </td>
                    <td>
                        <span asp-validation-for="OVH"></span>
                    </td>
                </tr>
                

                <tr>
                    <td>
                        <input type="button" onclick="submitNormal()" value="Save" class="butn-save" style="direction: ltr; text-align: left;">
                        <input type="button" onclick="showPage1()" value="Cancel" id="Button2" class="butn-cancel" style="direction: ltr; text-align: left;">
                    </td>
                </tr>
            </tbody>
        </table>
        <table cellpadding="3" cellspacing="0">
            <tbody id="Repairs">
        <tr >
        <td>
            <input value="external examination" type="checkbox"  style="direction: ltr; text-align: left;"> external examination
        </td>
        <td>
                        <input value="repair of motor" type="checkbox"  style="direction: ltr; text-align: left;"> repair of motor
        </td>
    </tr>
    <tr>
        <td>
                        <input type="checkbox" value="repair of component equipment" style="direction: ltr; text-align: left;"> repair of component equipment
        </td>
        <td>
                        <input type="checkbox" value="change of oil and lubricant" style="direction: ltr; text-align: left;"> change of oil and lubricant
        </td>
    </tr>
    <tr>
        <td>
            <input value="re-sealing of flanges" type="checkbox"  style="direction: ltr; text-align: left;"> re-sealing of flanges
        </td>
        <td>
                        <input value="replacement of lower bearing" type="checkbox" style="direction: ltr; text-align: left;"> replacement of lower bearing
        </td>
    </tr>
    <tr>
        <td>
                        <input value="re-filling of oil" type="checkbox" style="direction: ltr; text-align: left;"> re-filling of oil
        </td>
        <td>
                        <input value="repair of sealing unit" type="checkbox" style="direction: ltr; text-align: left;"> repair of sealing unit
        </td>
    </tr>
    <tr>
        <td>
                        <input value="check of alignment" type="checkbox" style="direction: ltr; text-align: left;"> check of alignment
        </td>
        <td>
                        <input value="repair of RAB" type="checkbox" style="direction: ltr; text-align: left;"> repair of RAB
        </td>
    </tr>
    <tr>
        <td>
                        <input value="check of base metal" type="checkbox" style="direction: ltr; text-align: left;"> check of base metal
        </td>
        <td>
                        <input value="tightening of studs of the main joint" type="checkbox" style="direction: ltr; text-align: left;"> tightening of studs of the main joint
        </td>
    </tr>
    <tr>
        <td>
                        <input value="replacement of units" type="checkbox" style="direction: ltr; text-align: left;"> replacement of units
        </td>
        <td>
                        <input value="check of the hydraulic part" type="checkbox" style="direction: ltr; text-align: left;"> check of the hydraulic part
        </td>
    </tr>

</tbody></table>
    </form>
</div>

@*<div class="alloptions">
    <textarea class="fulloptions" type="text" value=""></textarea><br>
    <label>Test1
        <input type="checkbox" class="cb" name="option1" value="Test1"/>Test1<br>
    </label>
    <label>Test2
        <input type="checkbox" class="cb" name="option1" value="Test2"/>Test2<br>
    </label>
    <label>Test3
        <input type="checkbox" class="cb" name="option1" value="Test3"/>Test3
    </label>
</div>
<br>

<div class="alloptions">
    <textarea class="fulloptions" type="text" value=""></textarea><br>
    <label>Test1
        <input type="checkbox" class="cb" name="option1" value="Test1"/>Test1<br>
    </label>
    <label>Test2
        <input type="checkbox" class="cb" name="option1" value="Test2"/>Test2<br>
    </label>
    <label>Test3
        <input type="checkbox" class="cb" name="option1" value="Test3"/>Test3
    </label>
</div>
*@
<link href="/css/kendo.common.min.css" rel="stylesheet" />
<link href="/css/kendo.default.min.css" rel="stylesheet" />

<script src="/js/jquery.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<script>
    // create DatePicker from input HTML element
    $("#CorrectionDate").kendoDatePicker();

    $("#DetectionDate").kendoDatePicker();

</script>

<script type="text/javascript">
    function submitNormal() {
        var data = $("#normalForm").serialize();
        //console.log(data);
        //alert(data);
        $.ajax({
            type: 'POST',
            url: '/Maintenance/CreateMaintenancePrograms',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data,
            success: function () {
                $("#Tabs").load("/Maintenance/MaintenancePrograms/");
            },

            error: function () {
                //alert('Failed to receive the Data');
                //console.log('Failed ');
            }
        });

    }

    $("#Repairs :checkbox").change(function () {

        debugger;
        var text = $("#Repairs :checked").map(function () {
            return this.value;
        }).get().join(" ");
        $("#textRR").val(text);
    });

    //$(function () {
    //    $(".alloptions  input[type='checkbox']").on('change', function () {
    //        var parentDiv = $(this).closest('div.alloptions');
    //        parentDiv.find('textarea.fulloptions').val(parentDiv.find('input[type="checkbox"]').filter(':checked').map(function (item) {
    //            return this.value;
    //        }).get().join(', ')
    //        );
    //    });
    //});
   
</script>
