@model Bnpp.DataLayer.Entities.Maintenance.MaintenancePrograms
@{
    ViewData["Title"] = "CreateMaintenancePrograms";
    Layout = null;
}



<div id="normal">
    <form id="normalForm" asp-action="CreateMaintenancePrograms" method="post">
        <h1>Type of Repairs</h1>
        <table cellpadding="3" cellspacing="0">
            <tr>
                <td>Type of Repair: </td>
                <td>
                    <select class="form-control" style="direction: ltr; text-align: left;" asp-for="MaintenanceType" asp-items="@(ViewData["Types"] as SelectList)"></select>
                </td>
            </tr>

          

            <tr>
                <td>R.R: </td>
                <td><textarea asp-for="RR" id="iRR" style='width:400px;height:100px' onclick='focused(this);'></textarea></td>
            </tr>
            <tr>
                <td>I.R: </td>
                <td><textarea asp-for="IR" id="iIR" style='width:400px;height:100px' onclick='focused(this);'></textarea></td>
            </tr>
            <tr>
                <td>OVH: </td>
                <td><textarea asp-for="OVH" id="iOVH" style='width:400px;height:100px' onclick='focused(this);'></textarea></td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="button" onclick="submitNormal()" value="Save" class="butn-save" style="direction: ltr; text-align: left;">
                    <input type="button" onclick="showPage1()" value="Cancel" id="Button2" class="butn-cancel" style="direction: ltr; text-align: left;">
                </td>
            </tr>
            
        </table>

        <table cellpadding="3" cellspacing="0">
            <tr>
                <td>
                    <input runat="server" type="checkbox" id="i1" onchange='itemsChanged();' /> external examination
                </td>
                <td>
                    <input runat="server" type="checkbox" id="i8" onchange='itemsChanged();' /> repair of motor
                </td>
            </tr>
            <tr>
                <td>
                    <input runat="server" type="checkbox" id="i2" onchange='itemsChanged();' /> repair of component equipment
                </td>
                <td>
                    <input runat="server" type="checkbox" id="i9" onchange='itemsChanged();' /> change of oil and lubricant
                </td>
            </tr>
            <tr>
                <td>
                    <input runat="server" type="checkbox" id="i3" onchange='itemsChanged();' /> re-sealing of flanges
                </td>
                <td>
                    <input runat="server" type="checkbox" id="i10" onchange='itemsChanged();' /> replacement of lower bearing
                </td>
            </tr>
            <tr>
                <td>
                    <input runat="server" type="checkbox" id="i4" onchange='itemsChanged();' /> re-filling of oil
                </td>
                <td>
                    <input runat="server" type="checkbox" id="i11" onchange='itemsChanged();' /> repair of sealing unit
                </td>
            </tr>
            <tr>
                <td>
                    <input runat="server" type="checkbox" id="i5" onchange='itemsChanged();' /> check of alignment
                </td>
                <td>
                    <input runat="server" type="checkbox" id="i12" onchange='itemsChanged();' /> repair of RAB
                </td>
            </tr>
            <tr>
                <td>
                    <input runat="server" type="checkbox" id="i6" onchange='itemsChanged();' /> check of base metal
                </td>
                <td>
                    <input runat="server" type="checkbox" id="i13" onchange='itemsChanged();' /> tightening of studs of the main joint
                </td>
            </tr>
            <tr>
                <td>
                    <input runat="server" type="checkbox" id="i7" onchange='itemsChanged();' /> replacement of units
                </td>
                <td>
                    <input runat="server" type="checkbox" id="i14" onchange='itemsChanged();' /> check of the hydraulic part
                </td>
            </tr>

        </table>

    </form>
</div>


<link href="/css/kendo.common.min.css" rel="stylesheet" />
<link href="/css/kendo.default.min.css" rel="stylesheet" />

<script src="/js/jquery.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<script>
    // create DatePicker from input HTML element
    $("#CorrectionDate").kendoDatePicker();

    $("#DetectionDate").kendoDatePicker();

</script>

<script type="text/javascript">
    function submitNormal() {
        var data = $("#normalForm").serialize();
        ////console.log(data);
        ////alert(data);
        debugger;
        $.ajax({
            type: 'POST',
            url: '/Maintenance/CreateMaintenancePrograms',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data,
            success: function () {
                $("#Tabs").load("/Maintenance/MaintenancePrograms/");
            },

            error: function () {
                //alert('Failed to receive the Data');
                //console.log('Failed ');
            }
        });

    }



    var itemFocused = null;
    function focused(item) {
        var val = item.value;
        itemFocused = item;

        document.getElementById('i1').checked = false;
        document.getElementById('i2').checked = false;
        document.getElementById('i3').checked = false;
        document.getElementById('i4').checked = false;
        document.getElementById('i5').checked = false;
        document.getElementById('i6').checked = false;
        document.getElementById('i7').checked = false;
        document.getElementById('i8').checked = false;
        document.getElementById('i9').checked = false;
        document.getElementById('i10').checked = false;
        document.getElementById('i11').checked = false;
        document.getElementById('i12').checked = false;
        document.getElementById('i13').checked = false;
        document.getElementById('i14').checked = false;

        var sp = val.split('\n');
        for (var i = 0; i < sp.length; i++) {
            sp[i] = sp[i].trim();
            if (sp[i] == 'external examination') document.getElementById('i1').checked = true;
            if (sp[i] == 'repair of component equipment') document.getElementById('i2').checked = true;
            if (sp[i] == 're-sealing of flanges') document.getElementById('i3').checked = true;
            if (sp[i] == 're-filling of oil') document.getElementById('i4').checked = true;
            if (sp[i] == 'check of alignment') document.getElementById('i5').checked = true;
            if (sp[i] == 'check of base metal') document.getElementById('i6').checked = true;
            if (sp[i] == 'replacement of units') document.getElementById('i7').checked = true;
            if (sp[i] == 'repair of motor') document.getElementById('i8').checked = true;
            if (sp[i] == 'change of oil and lubricant') document.getElementById('i9').checked = true;
            if (sp[i] == 'replacement of lower bearing') document.getElementById('i10').checked = true;
            if (sp[i] == 'repair of sealing unit') document.getElementById('i11').checked = true;
            if (sp[i] == 'repair of RAB') document.getElementById('i12').checked = true;
            if (sp[i] == 'tightening of studs of the main joint') document.getElementById('i13').checked = true;
            if (sp[i] == 'check of the hydraulic part') document.getElementById('i14').checked = true;
        }
    }

    function addItem(s) {
        var val = itemFocused.value;
        if (val != "") val += "\n";
        val += s;
        itemFocused.value = val;
    }

    function itemsChanged() {
        if (itemFocused == null) return;
        itemFocused.value = "";
        if (document.getElementById('i1').checked) addItem("external examination");
        if (document.getElementById('i2').checked) addItem("repair of component equipment");
        if (document.getElementById('i3').checked) addItem("re-sealing of flanges");
        if (document.getElementById('i4').checked) addItem("re-filling of oil");
        if (document.getElementById('i5').checked) addItem("check of alignment");
        if (document.getElementById('i6').checked) addItem("check of base metal");
        if (document.getElementById('i7').checked) addItem("replacement of units");
        if (document.getElementById('i8').checked) addItem("repair of motor");
        if (document.getElementById('i9').checked) addItem("change of oil and lubricant");
        if (document.getElementById('i10').checked) addItem("replacement of lower bearing");
        if (document.getElementById('i11').checked) addItem("repair of sealing unit");
        if (document.getElementById('i12').checked) addItem("repair of RAB");
        if (document.getElementById('i13').checked) addItem("tightening of studs of the main joint");
        if (document.getElementById('i14').checked) addItem("check of the hydraulic part");
    }

    function init() {
        itemFocused = document.getElementById('iRR');
    }

</script>
