@model Bnpp.DataLayer.Entities.Maintenance.Measurements
@{
    ViewData["Title"] = "EditMeasurements";
    Layout = null;
}

<div id="normal">
    <form id="normalForm" asp-action="EditMeasurements" method="post">
        <input type="hidden" asp-for="MeasurementId"/>
        <table cellpadding="3" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        Date of measurement:
                    </td>
                    <td>
                        <input name="Dateofmeasurement" id="Dateofmeasurement" style="direction: ltr; text-align: left;">
                    </td>
                </tr>
                <tr>
                    <td>
                        Type of measurement:
                    </td>
                    <td>
                        <input asp-for="Typeofmeasurement" type="text" id="iPosition" style="direction: ltr; text-align: left;">
                    </td>
                    <td>
                        <span asp-validation-for="Typeofmeasurement"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Result measurement:
                    </td>
                    <td>
                        <input asp-for="Resultmeasurement" type="text" id="iPosition" style="direction: ltr; text-align: left;">
                    </td>
                    <td>
                        <span asp-validation-for="Resultmeasurement"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Description:
                    </td>
                    <td>
                        <input asp-for="Description" type="text" id="iPosition" style="direction: ltr; text-align: left;">
                    </td>
                    <td>
                        <span asp-validation-for="Description"></span>
                    </td>
                </tr>


                <tr>
                    <td>
                        <input type="button" onclick="submitNormal()" value="Save" class="butn-save" style="direction: ltr; text-align: left;">
                        <input type="button" onclick="showPage5()" value="Cancel" id="Button2" class="butn-cancel" style="direction: ltr; text-align: left;">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<link href="/css/kendo.common.min.css" rel="stylesheet" />
<link href="/css/kendo.default.min.css" rel="stylesheet" />

<script src="/js/jquery.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<script>
    // create DatePicker from input HTML element
    $("#Dateofmeasurement").kendoDatePicker();


</script>

<script type="text/javascript">
    function submitNormal() {
        var data = $("#normalForm").serialize();
        //console.log(data);
        //alert(data);

        var result = confirm("Are You Sure ?");
        if (result) {
        $.ajax({
            type: 'POST',
            url: '/Maintenance/EditMeasurements', contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data,
            success: function () {
                $("#Tabs").load("/Maintenance/Measurements/");
            },

            error: function () {
                //alert('Failed to receive the Data');
                //console.log('Failed ');
            }
        });
        }

    }

</script>