
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div id="Tabs">

</div>

@section Scripts
{
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>

    $( document ).ready(function() {
        $("#Tabs").load("/Maintenance/MaintenancePrograms/");
    });

     function showPage1() {
        $("#Tabs").load("/Maintenance/MaintenancePrograms/");
    }

    function showPage2() {
        $("#Tabs").load("/Maintenance/Defections/");
    }

    function showPage3() {
        $("#Tabs").load("/Maintenance/SpareParts/");
    }
    
    function showPage4() {
        $("#Tabs").load("/Maintenance/MaintenanceForms/");
    }
    
    function showPage5() {
        $("#Tabs").load("/Maintenance/Measurements/");
    }
    
     function showPage6() {
        $("#Tabs").load("/Maintenance/DefectsReport");
    }

    
</script>

}






