
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dcontent">

    <div class="shadow" style="width: 650px;border: solid 1px #cccccc; padding: 15px; border-radius: 3px; background-color: rgba(40, 40, 40, 0.05); margin-left: auto; margin-right: auto; margin-top: 142px; border: solid 1px #a4b9bd;">
        <h1 style="color:#4d5b6e;">Please select a category to Data Entry</h1>
        <table cellpadding="3" cellspacing="0" class="icon-table-admin">
            <tbody><tr>
                <td><a href="/Equipments">Mechanical Equipments</a></td>
                <td><a href="/Electrical">Electrical Equipments</a></td>
                <td><a href="#">I &amp; C Equipments</a></td>
                <td><a href="/Structure">Structures</a></td>
                <td><a href="/Transient">Transients</a></td>
            </tr>
            </tbody></table>
    </div>

</div>

