@model Bnpp.DataLayer.Entities.ONOFF.ChangeState
@using Bnpp.DataLayer.Entities.ONOFF
@{
	ViewData["Title"] = "CreateOnOffData";
	Layout = null;
	List<States> permissions = ViewData["States"] as List<States>;
}

<div id="normal">
	<form id="designForm" asp-action="CreateOnOffData" method="post">

		<table cellpadding="3" cellspacing="0">
			<tbody>


				<tr>
					<td>
						Date of change state:
					</td>
					<td>
						<input name="Dateofchangestate" id="Dateofchangestate" style="direction: ltr; text-align: left;">
					</td>
				</tr>

				@foreach (var stte in permissions)
				{
					<li>
						<input type="checkbox" name="SelectedStates" value="@stte.StateId" /> @stte.StateTitle
					</li>
				}

				<tr>
					<td>
						Description:
					</td>
					<td>
						<input asp-for="Description" type="text" style="direction: ltr; text-align: left;">
					</td>
					<td>
						<span asp-validation-for="Description"></span>
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" @*onclick="AjaxdocumentFormSubmit()"*@ value="Save" class="butn-save" style="direction: ltr; text-align: left;">
						<input type="button" onclick="location='/OnOffData'" value="Cancel" id="Button2" class="butn-cancel" style="direction: ltr; text-align: left;">
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>


<link href="/css/kendo.common.min.css" rel="stylesheet" />
<link href="/css/kendo.default.min.css" rel="stylesheet" />

<script src="/js/jquery.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>

<script>

	$("#Dateofchangestate").kendoDateTimePicker(
		{
			format: "yyyy/MM/dd hh:mm:ss"
		});

</script>

<script type="text/javascript">
	function AjaxdocumentFormSubmit() {
		//Set the URL.
		var url = $("#designForm").attr("action");
		//Add the Field values to FormData object.
		var formData = new FormData();
		formData.append("EventName", $("#EventName").val());
		formData.append("EventLevel", $("#EventLevel").val());
		formData.append("ReportNo", $("#ReportNo").val());
		formData.append("ResponsibleUnit", $("#ResponsibleUnit").val());
		formData.append("EventLocation", $("#EventLocation").val());
		formData.append("Filename", $("#Filename").val());
		formData.append("EventDate", $("#EventDate").val());
		formData.append("ReportDate", $("#ReportDate").val());
		formData.append("OperationalOrganization", $("#OperationalOrganization").val());
		formData.append("EventReasons", $("#EventReasons").val());
		formData.append("EventConsequences", $("#EventConsequences").val());


		formData.append("fileEvents", $("#imgEventUp")[0].files[0]);

		debugger;

		$.ajax({
			type: 'POST',
			url: url,
			data: formData,
			processData: false,
			contentType: false
		}).done(function () {
			window.location.href = "/Events/";
		});
	}


</script>
