@model Bnpp.DataLayer.Entities.BasicData.ChemicalNorms
@{
    ViewData["Title"] = "CreateChemicalNorms";
    Layout = null;
}

<div id="normal">
    <form id="chemicalForm" asp-action="CreateChemicalNorms" method="post">
        <table cellpadding="3" cellspacing="0">
            <tbody>
            <tr>
                <td>
                    Index Description:
                </td>
                <td>
                    <input asp-for="IndexDescription" type="text"  style="direction: ltr; text-align: left;">
                </td>
                <td>
                    <span asp-validation-for="IndexDescription"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Value:
                </td>
                <td>
                    <input asp-for="Value" type="text"  style="direction: ltr; text-align: left;">
                </td>
                <td>
                    <span asp-validation-for="Value"></span>
                </td>
            </tr>

            <tr>
                <td>
                    unit:
                </td>
                <td>
                    <input asp-for="Unit" type="text"  style="direction: ltr; text-align: left;">
                </td>
                <td>
                    <span asp-validation-for="Unit"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Limit:
                </td>
                <td>
                    <input asp-for="Limit"  type="text" id="iPosition" style="direction: ltr; text-align: left;">
                </td>
                <td>
                    <span asp-validation-for="Limit"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" onclick="submitChemical()" value="Save" class="butn-save" style="direction: ltr; text-align: left;">
                    <input type="button" onclick="showPage6()"  value="Cancel" id="Button2" class="butn-cancel" style="direction: ltr; text-align: left;">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<link href="/css/kendo.common.min.css" rel="stylesheet" />
<link href="/css/kendo.default.min.css" rel="stylesheet" />

<script src="/js/jquery.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">
    function submitChemical() {
        var data = $("#chemicalForm").serialize();
        //console.log(data);
        //alert(data);
        $.ajax({
            type: 'POST',
            url: '/Technical/CreateChemicalNorms',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data,
            success: function() {
               $("#Tabs").load("/Technical/ChemicalNorms/");
            },

            error: function() {
                //alert('Failed to receive the Data');
                //console.log('Failed ');
            }
        });

    }

</script>