@model Bnpp.DataLayer.Entities.BasicData.PhysicalProperties

@{
    ViewData["Title"] = "CreatePhysicalProperties";
    Layout = null;
}

<div id="normal">
    <form id="designForm" asp-action="EditPhysicalProperties" method="post">
        <input type="hidden" asp-for="ComponentId" />
        <input type="hidden" asp-for="PhysicalPropertiesId" />
        <table cellpadding="3" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        Temperature:
                    </td>
                    <td>
                        <input asp-for="Temperature" type="text" style="direction: ltr; text-align: left;">
                    </td>
                    <td>
                        <span asp-validation-for="Temperature"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        Coefficient of Linear Expension:
                    </td>
                    <td>
                        <input asp-for="LinearExpension" type="text" style="direction: ltr; text-align: left;">
                    </td>
                    <td>
                        <span asp-validation-for="LinearExpension"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        Heat Capacity:
                    </td>
                    <td>
                        <input asp-for="HeatCapacity" type="text" style="direction: ltr; text-align: left;">
                    </td>
                    <td>
                        <span asp-validation-for="HeatCapacity"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        Heat conductivity Factor:
                    </td>
                    <td>
                        <input asp-for="ConductivityFactor" type="text" style="direction: ltr; text-align: left;">
                    </td>
                    <td>
                        <span asp-validation-for="ConductivityFactor"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Normal Radiation Emissitivity:
                    </td>
                    <td>
                        <input asp-for="NormalRadiation" type="text" style="direction: ltr; text-align: left;">
                    </td>
                    <td>
                        <span asp-validation-for="NormalRadiation"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Poisson's Ratio:
                    </td>
                    <td>
                        <input asp-for="PoissonRatio" type="text" style="direction: ltr; text-align: left;">
                    </td>
                    <td>
                        <span asp-validation-for="PoissonRatio"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Density:
                    </td>
                    <td>
                        <input asp-for="Density" type="text" style="direction: ltr; text-align: left;">
                    </td>
                    <td>
                        <span asp-validation-for="Density"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="button" onclick="submitdesignNormal()" value="Save" class="butn-save" style="direction: ltr; text-align: left;">
                        <input type="button" onclick="showMechanicalPage()" value="Cancel" id="Button2" class="butn-cancel" style="direction: ltr; text-align: left;">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>


<script src="/js/jquery.min.js"></script>

<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.validate.unobtrusive.min.js"></script>



<script type="text/javascript">
    function submitdesignNormal() {
        var data = $("#designForm").serialize();
        //console.log(data);
        //alert(data);

        var result = confirm("Are You Sure ?");
        if (result) {
        $.ajax({
            type: 'POST',
            url: '/Technical/EditPhysicalProperties',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data,
            success: function () {
                $("#newPage").load("/Technical/PhysicalProperties/@Model.ComponentId");
            },

            error: function () {
                //alert('Failed to receive the Data');
                //console.log('Failed ');
            }
        });
        }

    }

    function showMechanicalPage() {
        $("#newPage").load("/Technical/PhysicalProperties/@Model.ComponentId");
    }

</script>