@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dcontent">

    <h1>Bushehr Nuclear Power Plant<br>Aging Management Data Bank</h1>
    <table cellpadding="3" cellspacing="0" class="icon-table">
        <tbody>
            <tr>
                <td style="width: 300px;">
                    <a href="Cables">Cabels</a>
                </td>
            </tr>
            <tr style="background-color: #f7f7f7;">
                <td>
                    <a href="Electromotors">
                        Electromotors
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="Generator">
                        Generators
                    </a>
                </td>
            </tr>
            <tr style="background-color: #f7f7f7;">
                <td>
                    <a href="Transformer">
                        Transformers
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="Valves">
                        Electrovalves
                    </a>
                </td>
            </tr>
            <tr style="background-color: #f7f7f7;">
                <td>
                    <a href="Diesel">
                        Diesel Generators
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <input type="button" value="New" onclick="" class="butn-new" style="direction: ltr; text-align: left;">
    &nbsp;
    <input type="button" value="Back" onclick="location='/DataEntry'" class="butn-cancel" style="direction: ltr; text-align: left;">
    &nbsp;
</div>

