
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div id="Tabs">

</div>

@section Scripts
{
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>

    $( document ).ready(function() {
        $("#Tabs").load("/Operational/Sensors/");
    });

    function showPage1() {
        $("#Tabs").load("/Operational/Sensors/");
    }

    function showPage2() {
        $("#Tabs").load("/Operational/ChemicalWater/");
        
    }

    function showPage3() {
        $("#Tabs").load("/Operational/Environmental/");
    }

</script>

}






