
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div id="Tabs">

</div>

@section Scripts
{
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>

    $( document ).ready(function() {
        $("#Tabs").load("/Documents/OperationalDocuments/");
    });

     function showPage1() {
        $("#Tabs").load("/Documents/GeneralData/");
    }

    function showPage2() {
        $("#Tabs").load("/Documents/Drawing/");
    }

    function showPage3() {
        $("#Tabs").load("/Documents/Standards/");
    }
    
    function showPage4() {
        $("#Tabs").load("/Documents/ManufacturerDocuments/");
    }
    
    function showPage5() {
        $("#Tabs").load("/Documents/InstallationDocuments/");
    }
    
     function showPage6() {
        $("#Tabs").load("/Documents/MaintenanceDocuments");
    }

    function showPage7() {
        $("#Tabs").load("/Documents/AgeingDocuments/");
    }

   

</script>

}




