.btn-new-equip {
    background: #DD7800;
    border-radius: 3px;
    display: inline-block;
    width: auto;
    direction: rtl;
    text-align: center;
    border-right: 1px solid #DD7800;
    border-left: 1px solid #DD7800;
    color: #FFFFFF;
    padding: 2px 10px 4px 10px;
    margin: 1px 0 1px 0;
    border: none;
    background-repeat: no-repeat !important;
    padding-left: 24px !important;
    background-position: 4px 4px !important;
    background-image: url(/images/new-folder3.png) !important;
    direction: ltr;
    text-align: left;
}

.btn-edit-equip {
    background: orange;
    border-radius: 3px;
    display: inline-block;
    width: auto;
    direction: rtl;
    text-align: center;
    border-right: 1px solid #DD7800;
    border-left: 1px solid #DD7800;
    color: #FFFFFF;
    padding: 2px 10px 4px 10px;
    margin: 1px 0 1px 0;
    border: none;
    background-repeat: no-repeat !important;
    padding-left: 24px !important;
    background-position: 4px 4px !important;
    background-image: url(/images/edit.png) !important;
    direction: ltr;
    text-align: left;
}

.btn-delete-equip {
    background: red;
    border-radius: 3px;
    display: inline-block;
    width: auto;
    direction: rtl;
    text-align: center;
    border-right: 1px solid #DD7800;
    border-left: 1px solid #DD7800;
    color: #FFFFFF;
    padding: 2px 10px 4px 10px;
    margin: 1px 0 1px 0;
    border: none;
    ;
    background-repeat: no-repeat !important;
    padding-left: 24px !important;
    background-position: 4px 4px !important;
    background-image: url(/images/no.png) !important;
    direction: ltr;
    text-align: left;
}

.checkBox {
    border: none;
}

li.active {
    background-color: rgb(208, 208, 208);
    border-color: rgb(128, 128, 128);
    font-weight: bold;
}
