@model Bnpp.DataLayer.Entities.InspectionData.InspectionDocument
@{
    ViewData["Title"] = "CreateMagneticForm";
    Layout = null;
}

<div id="normal">
    <form id="DesignDocumentForm" asp-action="CreateMagneticForm" method="post" enctype="multipart/form-data">

        <table cellpadding="3" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        Form Name:
                    </td>
                    <td>
                        <input asp-for="FormName" type="text" style="direction: ltr; text-align: left;">
                    </td>
                    <td>
                        <span asp-validation-for="FormName"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Form No.:
                    </td>
                    <td>
                        <input asp-for="FormNo" type="text" style="direction: ltr; text-align: left;">
                    </td>
                    <td>
                        <span asp-validation-for="FormNo"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Date:
                    </td>
                    <td>
                        <input name="VisualDate" id="VisualDate" style="direction: ltr; text-align: left;">
                    </td>
                </tr>
                <tr>
                    <td>
                        File Name:
                    </td>

                    <td>
                        <input asp-for="Filename" type="text" value="" style="direction: ltr; text-align: left;">
                    </td>
                    <td>
                        <span asp-validation-for="Filename"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Select File:
                    </td>
                    <td>
                        <input type="file" name="imgMagneticUp" id="imgMagneticUp" style="direction: ltr; text-align: left;">
                    </td>
                </tr>
                <tr>
                    <td>
                        Description:
                    </td>
                    <td>
                        <input asp-for="DocumentName" type="text" style="direction: ltr; text-align: left;">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="button" onclick="AjaxdocumentFormSubmit()" value="Save" class="butn-save" style="direction: ltr; text-align: left;">
                        <input type="button" onclick="showsubPage11()" value="Cancel" id="Button2" class="butn-cancel" style="direction: ltr; text-align: left;">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>



<link href="/css/kendo.common.min.css" rel="stylesheet" />
<link href="/css/kendo.default.min.css" rel="stylesheet" />

<script src="/js/jquery.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<script>
    // create DatePicker from input HTML element
    $("#VisualDate").kendoDatePicker();
</script>

<script type="text/javascript">
    function AjaxdocumentFormSubmit() {
        //Set the URL.
        var url = $("#DesignDocumentForm").attr("action");
        //Add the Field values to FormData object.
        var formData = new FormData();
        formData.append("FormName", $("#FormName").val());
        formData.append("FormNo", $("#FormNo").val());
        formData.append("Filename", $("#Filename").val());
        formData.append("VisualDate", $("#VisualDate").val());
        formData.append("DocumentName", $("#DocumentName").val());


        formData.append("fileMagnetic", $("#imgMagneticUp")[0].files[0]);

        debugger;

        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            processData: false,
            contentType: false
        }).done(function () {
            $("#submenu").load("/Inspection/MagneticForm/");
        });
    }



    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgCourse').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgCourseUp").change(function () {
        readURL(this);
    });

    $('input[type=file]').change(function () {

        $('#Filename').attr('value', this.files[0].name);
    });
</script>

