@{
    ViewData["Title"] = "DesignBasisAccidents";
    Layout = null;
}


<div class="dcontent">
    <div style="margin-top: 10px; background-color: #6b8d9e; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; border-radius: 5px; border: solid 1px #cccccc; background: repeating-linear-gradient(-45deg, #7fa1b3, #6b8d9e 1px, #6b8d9e 1px, #6b8d9e 20px);">
        &nbsp;
    </div>

    <div style="border-radius: 5px; margin-top: 5px; margin-bottom: 5px; padding: 15px; border: solid 1px #cea001; background-color: #ffe100;">
        <table cellpadding="3" cellspacing="0">
            <tbody>
                <tr>
                    <td style="">
                        <b><a class="breadcumb2-link" href="#">Mechanical Equipments</a></b>
                    </td>
                    <td style="">
                        » <b id="subTitle22a">Transients</b>
                    </td>
                    <td>
                        » <b style="color: #ff0000;" id="subTitle22">Design Basis Accidents</b>
                    </td>
                </tr>
            </tbody>
        </table>
        <a id="iHelp" style="float: right; position: relative; top: -32px;" href="javascript:;" onclick="showHelp();">
            <img src="/images/help.png" style="width: 48px;" class="imgHelp">
        </a>
    </div>

    <h1 id="iH1">Operational Data</h1>
    <div id="iContent">


        <div class="tab-buttons">
            <ul>
                <li id="tab-button1" class="tab-buttons-li" style="background-color: rgb(240, 240, 240); border-color: rgb(192, 192, 192); font-weight: normal;" @*style="background-color: rgb(208, 208, 208); border-color: rgb(128, 128, 128); font-weight: bold;"*@>
                    <a id="tab-button-a1" @*href="javascript:;"*@
                           onclick="showPage1()" style="cursor:pointer;color: rgb(0, 113, 158);">
                        Normal Operations
                    </a>
                </li>
                <li id="tab-button2" class="tab-buttons-li" style="background-color: rgb(240, 240, 240); border-color: rgb(192, 192, 192); font-weight: normal;">
                    <a id="tab-button-a2" @*href="javascript:;"*@ onclick="showPage2()" style="cursor:pointer;color: rgb(110, 110, 255);">
                        Operational Occurances
                    </a>
                </li>
                <li id="tab-button3" class="tab-buttons-li" style="background-color: rgb(240, 240, 240); border-color: rgb(192, 192, 192); font-weight: normal;">
                    <a id="tab-button-a3" @*href="Admin"*@ onclick="showPage3()" style="cursor:pointer;color: rgb(110, 110, 255);">
                        Design Basis accidents
                    </a>
                </li>
            </ul>

            <div style="clear:both;"></div>
        </div>


        <div id="tab1" class="tab-item" style="display: block;">
            @*     <iframe onload="show_tab(1);" id="iframe1" width="100%" frameborder="0" scrolling="auto" src="/soft2/admin/equipments/details/table2/?eid=-2&amp;s1=تجهیزات مکانیک&amp;tid=119" style="height: 249px;">
                </iframe>
            *@

            <h1 id="iH1">Design Basis Accidents</h1>

            <div class="bevel-box">
                <table cellpadding="3" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>Search:</td>
                            <td><input name="iSearch" type="text" id="iSearch" style="direction: ltr; text-align: left;"></td>
                            <td><input type="submit" name="Button11" value="Search" id="Button11" class="butn-search" style="direction: ltr; text-align: left;"></td>

                            <td><input type="submit" name="Button1" value="Export Excel" id="Button1" style="direction: ltr; text-align: left;"></td>
                            <td style="width:60px;">&nbsp;</td>
                            <td>
                                <input type="file" name="uploadedFile" id="uploadedFile" style="direction: ltr; text-align: left;">
                                <input onclick="__doPostBack('upload','')" name="upload" type="button" id="upload" value="Import Excel" style="direction: ltr; text-align: left;">
                            </td>
                            <td style="width:200px;"><span id="message"></span></td>
                            <td><a href="/soft2/admin/equipments/details/table2/print/?s1=تجهیزات مکانیک&amp;eid=-2&amp;tid=119&amp;brep=1" target="_blank"><img src="/images/print_printer.png" title="Print"></a></td>
                        </tr>
                    </tbody>
                </table>
                <table cellpadding="3" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>Sort:</td>
                            <td>
                                <select name="iSort" onchange="javascript:setTimeout('__doPostBack(\'iSort\',\'\')', 0)" id="iSort">
                                    <option selected="selected" value="Asc">Asc</option>
                                    <option value="Desc">Desc</option>

                                </select>
                            </td>
                            <td>Records to Show:</td>
                            <td>
                                <select name="iShowNum" onchange="javascript:setTimeout('__doPostBack(\'iShowNum\',\'\')', 0)" id="iShowNum">
                                    <option value="10">10</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                    <option selected="selected" value="1000">1000</option>

                                </select>
                            </td>
                        </tr>
                    </tbody>



                </table>
            </div>



            <div id="iContent">
                <div id="iLoading22" style="display:none;"><img src="/images/loading.gif"></div>
                
                <table cellpadding="3" cellspacing="0" class="dg_edit_table">
                    <tbody>
                        <tr style="background-color: #A25B1F; border-radius: 5px;">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td style="color: #ffffff;">
                                <b>Name of Conditions</b>
                            </td>
                            <td style="color: #ffffff;">
                                <b>Allowable Num.</b>
                            </td>
                            <td style="color: #ffffff;">
                                <b>Dates</b>
                            </td>
                            <td style="color: #ffffff;">
                                <b>Occurrances</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <input value="" style="background-image: url(&quot;/images/new-folder2.png&quot;); background-repeat: no-repeat; background-position: 4px 4px; cursor: pointer; width: 30px; height: 30px; background-color: rgb(240, 240, 240); direction: ltr; text-align: left;" title="New Item" type="button" onclick="newdg_row(-2, 119);">
                            </td>
                            <td>
                                <input type="text" placeholder="Name of Conditions" id="new_-2_119_0" class="new_-2_119 new_input2" onmousedown="show_ajax(this, 'false');" onkeyup="show_ajax(this, 'true');" style="direction: ltr; text-align: left;">
                            </td>
                            <td>
                                <input type="text" placeholder="Allowable Num." id="new_-2_119_1" class="new_-2_119 new_input2" style="direction: ltr; text-align: left;">
                            </td>
                            <td>
                                <input type="text" placeholder="Dates" id="new_-2_119_2" class="new_-2_119 new_input2" style="width: auto; direction: ltr; text-align: left;">
                                <input style="display: none; direction: ltr; text-align: left;" type="date" id="dnew_-2_119_2">
                                <input id="bnew_-2_119_2" value="" style="background-image: url(&quot;/images/new-folder2.png&quot;); background-repeat: no-repeat; background-position: 4px 4px; cursor: pointer; width: 30px; height: 30px; background-color: rgb(240, 240, 240); direction: ltr; text-align: left;" title="Add date" onclick="toggle_add_date(this);" type="button">
                                <input id="wnew_-2_119_2" value="" style="background-image: url(&quot;/images/delete2.png&quot;); background-repeat: no-repeat; background-position: 4px 4px; cursor: pointer; width: 30px; height: 30px; background-color: rgb(240, 240, 240); direction: ltr; text-align: left;" title="Cancel" onclick="close_add_date(this);" type="button">
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="clear:both;"></div><br><br><iframe style="display:none" id="if_-2_119" src=""></iframe>
            </div>
        </div>
    </div>
</div>


<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.unobtrusive-ajax.min.js"></script>

<script>

    function showPage1() {
        $("#Tabs").load("/Transient/NormalOperations/");
    }

    function showPage2() {
        $("#Tabs").load("/Transient/OperationalOccurence/");
        $('#tab-button2').css({ 'font-weight': 'bold'});
    }

    function showPage3() {
        $("#Tabs").load("/Transient/DesignBasisAccidents/");
    }
</script>


